<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script type="text/javascript" src="js/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "get",    //请求方式
                async: true,    //是否异步
                url: "https://api.ip.sb/jsonip",
                dataType: "jsonp",    //跨域json请求一定是jsonp
                jsonp: "callback",    //跨域请求的参数名，默认是callback
                timeout: 5000,
                data: {},
                success: function (data) {
                    //请求成功处理，和本地回调完全一样
                    $(".ip").val(data.ip);
                },
                error: function () {
                    $(".ip_hint").html("<div>获取IP失败,请手动复制IP地址到前面的框,<a href='https://ip.sb' target='_blank'>点击我查询IP</a></div>");
                    //请求出错处理
                }
            });
            $(".submitBtn").click(function () {
                var ip = $(".ip").val();
                var port = $(".port").val();
                $.ajax({
                    type: "POST",    //请求方式
                    async: false,    //是否异步
                    url: "/api/ac/createlink",
                    dataType: "json",    //跨域json请求一定是jsonp
                    jsonp: "callback",    //跨域请求的参数名，默认是callback
                    data: {
                        "ip": ip,
                        "port": port
                    },
                    success: function (data) {
                        //请求成功处理，和本地回调完全一样
                        if (data.error_code != "1") {
                            alert("IP或端口不能为空");
                        } else {
                            $(".link").val(data.object.msg);
                        }
                    },
                    error: function (data) {
                        alert("创建地址失败");
                        //请求出错处理
                    }
                });
            });
        });
    </script>
</head>
<body>
<th:text>Thymeleaf的Text标签</th:text>
<table border="1" class="assettocorsa_tb">
    <form action="createLink">
        <tr>
            <td>你的IP地址</td>
            <td><input type="text" value="" class="ip" th:class="ip" th:id="ip" th:name="ip"></td>
            <td th:class="ip_hint" th:id="ip_hint" th:name="ip_hint"></td>
        </tr>
        <tr>
            <td>端口号</td>
            <td><input th:class="port" th:id="port" th:name="port" type="text" th:placeholder="8081" th:value="8081">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>密码</td>
            <td><input th:class="password" th:id="password" th:name="password" type="text" disabled value="根本不能输密码">
            </td>
            <td></td>
        </tr>
        <tr>
            <td>是否生成地址并发布?</td>
            <td>
                <button type="button" th:class="submitBtn">发布</button>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>生成的地址</td>
            <td><input type="text" th:id="link" th:class="link" disabled></td>
            <td></td>
        </tr>
    </form>
</table>
</body>
</html>